{% extends "admin/index.html" %}
{% block content %}
<div id="content-main">
    {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}

    <div class="module">
        <table>
            <caption><a href="" class="section" title="Custom actions">Custom actions</a></caption>
            <tbody>
            <tr>
                <th><a href="{% url 'upload-horses' %}">Upload Horse CSV file</a></th>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
